* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body, html {
    overflow: hidden
  }

.koulen-regular {
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.leaflet-container {
    height: 93vh;
    width: 200%;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
    border-radius: 19px;
}

.cluster-icon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: blueviolet;
    transform: translate (-25%, -25%);
    display: flex;
    

    height: 93vh;
    width: 200%;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
    border-radius: 19px;
}

.map-container {
    display: flex;
    flex-direction: row;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    width: min-content;
}
.alert {
    font-size: 200%;

}
.confirm {
    margin-top: 1%;
    font-family: 'Koulen';
    border-color: rgb(214, 212, 212);
    border-radius: 10px;
    font-size: 150%;
    
}
.logout {
    font-family: 'Koulen';
    font-size: 275%;
    margin-top: 2%;
    height: 10vh;
    width: 50vh;
    border-radius: 19px;
    background-color: #446293;
    -webkit-text-fill-color: white;
    border-color: white;
}

.see-more {
    font-family: 'Koulen';
    -webkit-text-fill-color: white;
background-color: #446293;
border-radius: 10px;
width: max-content;
border-color: white;
padding: 5px;
}

.add-item {
    font-family: 'Koulen';
    font-size: 275%;
    margin-top: 2%;
    height: 5%;
    width: 100px;
    height: 10vh;
    width: 50vh;
    border-radius: 19px;
    background-color: #567F5A;
    -webkit-text-fill-color: white;
    border-color: white;
}

.element {
    overflow-y: scroll;
    overflow: auto;
    height: 65vh;
}

.card:hover {
    transform: scale(1.03);
}