h1 {
    font-family: 'Koulen';
    font-weight: 400;
    font-size: 500%;
    -webkit-text-fill-color: white;

}

.homepage-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
}

.title {
    margin-top: 8%;
    filter:drop-shadow(0px 4px rgba(3, 3, 3, 0.207));
}
.slug {
    margin-top: 4%;
}
.welcome-text {
    font-family: 'Kodchasan';
    margin-left: 10%;
    margin-right: 10%;
    -webkit-text-fill-color: white;
    font-size: 200%;
    filter: drop-shadow(0px 2px rgba(3, 3, 3, 0.207));
}

.home-logo {
    margin-left: 20%;
}

.login-signup {
    margin-top: 2%;
    margin-left: 80%;
    margin-right: 100%;
    display:flex;
    flex-direction: row;
    border-radius: 12px;
}

.login-button {
    font-family: 'Kanit';
    font-size: 200%;
    height: fit-content;
    padding: 5%;
    margin-left: 90%;
    border-radius: 12px;
    -webkit-text-fill-color: #47c4da;
    border-color: #c0d0d3;

}

.signup-button {
    font-family: 'Kanit';
    font-size: 200%;
    width:max-content;
    height: min-content;
    padding: 5%;
    margin-left: 10%;
    margin-right: -500%;
    border-radius: 12px;
    -webkit-text-fill-color: #47c4da;
    border-color: #c0d0d3;

}